<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Home</h1>
        <h4 class="mt-4">Aplicación desarrollada por :</h4>
        <p>Astrid Cruces, Johan Acaro, David Herrera y Sergio Camino</p>
        
        <div class="card mt-5">
            <div class="card-body">
                <h4 class="card-title">¿Qué es nuestra aplicación?</h4>
                <p class="card-text">Nuestra aplicación es una solución todo en uno para gestionar tus tareas, proyectos y equipos. Con una interfaz intuitiva y fácil de usar, puedes mantener un seguimiento detallado de tus tareas, colaborar en proyectos con tu equipo y gestionar el tiempo de forma eficiente.</p>
            </div>
        </div>
        
        <div class="card mt-5">
            <div class="card-body">
                <h4 class="card-title">¿Por qué usar nuestra aplicación?</h4>
                <ul>
                    <li>Es fácil de usar y muy intuitiva.</li>
                    <li>Te permite colaborar con tu equipo en tiempo real.</li>
                    <li>Te ayuda a gestionar mejor tu tiempo y aumentar tu productividad.</li>
                    <li>Te permite mantenerte organizado y controlar tus tareas de forma eficiente.</li>
                </ul>
            </div>
        </div>
        
        <div class="card mt-5">
            <div class="card-body">
                <h4 class="card-title">Funcionalidades principales</h4>
                <ul>
                    <li>Gestión de tareas y proyectos</li>
                    <li>Colaboración en tiempo real con tu equipo</li>
                    <li>Seguimiento de plazos y fechas límite</li>
                    <li>Generación de informes de seguimiento</li>
                </ul>
            </div>
        </div>
        <div class="card mt-5">
            <div class="card-body">
                <h4 class="card-title">Testimonios</h4>
                <blockquote class="blockquote">
                    <p class="mb-0">"Mi productividad aumentó significativamente después de comenzar a usar esta aplicación"</p>
                    <p class="mb-0">- Javier Sánchez</p>
                </blockquote>
                <blockquote class="blockquote">
                    <p class="mb-0">"Estoy profundamente agradecido con esta aplicación, me ha agilizado mis tareas"</p>
                    <p class="mb-0">- Mario Luquero</p>
                </blockquote>
            </div>
        </div>
        <br>
    </div>
</body>
</html>